.dragonCard {
    width: 18rem;
    padding: 1rem;
    border-radius: 1rem;
    background: white;
    border: 1px solid black;
}


.dragonImg {
    width: 100%;
    height: 10rem;
    object-fit: contain;
}

.dragonName {
    font-weight: bold;
    margin-top: 0.5rem;
}
